*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    min-height: 90vh;
    height: 100vh;
    min-width: 90vw;
    width: 100vw;
}

.calculator {
    flex-direction: column;
    background-color: #272727;
    margin: auto;
    padding: 15px;
    gap: 7px;
    width: 200px;
    height: auto;
    border-radius: 7px;
}

.display-window {
    background-color: #bbfaffc4;
    height: 50px;
    width: 180px;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}

#stored,
#display {
    justify-content: right;
}

#stored {
    font-style: italic;
    font-size: 10px;
    color: #424242;
}

.buttons {
    flex-direction: row;
}

.buttons button {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #000000;
    border-radius: 5px;
}

.buttons button:hover {
    transform: scale(1.05);
}

.left {
    width: 150px;
}

.left,
.right {
    flex-direction: column;
}

#clear {
    background-color: #c20000;
    color: #eeeeee;
    width: 100px;
}

.numberpad {
    flex-wrap: wrap;
}

.operator {
    background-color: #ffac4e;
}

#equals {
    background-color: #1d46ff;
    color: #eeeeee;
}