*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.calculator {
    flex-direction: column;
    background-color: #999999;
    padding: 15px;
    gap: 7px;
    width: 200px;
    border-radius: 7px;
}

.display-window {
    background-color: #00d8e77c;
    height: 40px;
    width: 180px;
    justify-content: right;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.buttons {
    flex-direction: row;
}

.buttons button {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #000000;
    border-radius: 4px;
}

.left {
    flex-direction: column;
}

#clear {
    background-color: #aa0000;
    color: #eeeeee;
    width: 100px;
}

.numberpad {
    flex-wrap: wrap;
}

.operators {
    flex-direction: column;
}

#equals {
    background-color: #1d46ff;
    color: #eeeeee;
}